.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Open Sans", "sans-serf";
}

.header-border {
  border-bottom: 1px solid rgb(210, 208, 208);
}

.site-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 29px;
}

.logo {
  display: flex;
  font-family: "Montserrat";
  color: #22202e;
  font-size: 24px;
  text-decoration: none;
}

.nav-menu {
  display: flex;
}

.nav-list {
  display: flex;
  gap: 44px;
}

.nav-list-item {
  color: #726e8d;
  font-size: 16px;
  line-height: normal;
}

.nav-list-link {
  color: #726e8d;
  display: inline-flex;
  text-decoration: none;
}

.side-action {
  display: flex;
}

.side-action-list {
  display: flex;
  gap: 16px;
}

.side-action-item {
  background-color: #fff;
}

.nav-search-link {
  display: flex;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
}

.nav-shopping-link {
  display: flex;
  background-image: url(../img/shopping--cart.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
}

.nav-user-link {
  display: flex;
  background-image: url(../img/user--avatar.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
}

.nav-elements {
  display: inline-flex;
}

.page-headers {
  display: flex;
  flex-direction: column;
}

.page-title {
  color: #2a254b;
  font-family: "Montserrat";
  font-size: 36px;
  line-height: 140%;
  margin-top: 80px;
  margin-bottom: 24px;

  text-align: center;
}

.filters-main {
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
}

.filters {
  display: flex;
  gap: 12px;
}

.product-selector {
  display: flex;
  color: #2a254b;
  display: flex;
  font-size: 16px;
  line-height: 150%;
  padding: 12px 24px 12px 24px;
  border-color: white;
}

.sorting {
  display: flex;
  align-items: center;
}

.sorting-text {
  display: flex;
  color: #2a254b;
  font-size: 14px;
  line-height: 150%;
  margin-right: 16px;
}

.product-container {
  display: grid;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 20px;
  margin-bottom: 48px;
  margin-top: 33px;
}

.product-link {
  text-decoration: none;
  color: #2a254b;
}

.card-image {
  margin-bottom: 24px;
  width: 305px;
  height: 375px;
}

.product-name {
  color: #2a254b;
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 8px;
}

.product-prise {
  color: #2a254b;
  font-size: 18px;
  line-height: 150%;
}

.button-view-collection {
  margin: 0 auto 40px auto;
  background: #f9f9f9;
  padding: 16px 32px 16px 32px;
  color: #2a254b;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 150%;
  border: none;
  cursor: pointer;
}

.email-sign-up {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url(../img/join-background.jpg);
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: left top;
}

.join-context {
  grid-column: 2;
}

.join-title {
  display: flex;
  color: #2a254b;
  text-align: center;
  font-family: "Montserrat";
  font-size: 32px;
  line-height: normal;
  margin-left: 50px;
  margin-top: 70px;
  margin-bottom: 20px;
}

.join-text {
  display: flex;
  color: #2a254b;
  font-size: 16px;
  line-height: 150%; /* 24px */
  margin-left: 50px;
  width: 470px;
}

.button-sign-up {
  margin-top: 216px;
  margin-left: 72px;
  margin-bottom: 70px;
  background: #2a254b;
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  padding: 16px 32px 16px 32px;
  cursor: pointer;
  border: none;
}

.background {
  background-color: #2a254b;
}

.footer-content {
  display: flex;
  border-bottom: 1px solid #4e4d93;
  padding-top: 58px;
  padding-bottom: 48px;
  justify-content: space-between;
}
.footer-menu {
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.footer-menu-item:first-child {
  color: #fff;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: normal;
}

.footer-menu-item {
  color: #fff;
  font-size: 14px;
  line-height: normal;
}

.footer-categories {
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.footer-categories-item:first-child {
  color: #fff;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: normal;
}

.footer-categories-item {
  color: #fff;
  font-size: 14px;
  line-height: normal;
}

.footer-company {
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.footer-company-item:first-child {
  color: #fff;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: normal;
}

.footer-company-item {
  color: #fff;
  font-size: 14px;
  line-height: normal;
}

.footer-nav-link {
  text-decoration: none;
  color: #fff;
}

.footer-footer {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 22px;
  padding-bottom: 22px;
  justify-content: space-between;
}

.copyright {
  display: flex;
  color: #fff;
  font-size: 14px;
  line-height: normal;
}
.footer-social-nav {
  display: flex;
}

.icon-list {
  display: flex;
  gap: 24px;
  text-align: center;
}

.icon-item {
  display: flex;
}

.icon-link-linkedin {
  display: flex;
  background-image: url(../img/logo--linkedin.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
}

.icon-link-facebook {
  display: flex;
  background-image: url(../img/logo--facebook.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
}

.icon-link-instagram {
  display: flex;
  background-image: url(../img/logo--instagram.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
}

.icon-link-skype {
  display: flex;
  background-image: url(../img/logo--skype.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
}

.icon-link-twitter {
  display: flex;
  background-image: url(../img/logo--twitter.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 26px;
  height: 22px;
}

.icon-link-pinterest {
  display: flex;
  background-image: url(../img/logo--pinterest.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
}
